<h1><%= @patient.name %></h1>

<p>ID: <%=@patient.id%></p>
<p>Patient <%=@patient.name%>'s doctors:</p>
<ul>
<% doctor_array = [] %>
<% @patient.doctors.each {|doctor| doctor_array << doctor.name }%>
<% doctor_array.each do |doctor| %>
	<li><%= doctor %></li>
	  <%end%>
</ul>

<p>Patient <%=@patient.name%>'s appointments:</p>
<ul>
<% appointment_array = [] %>
<% @patient.appointments.each {|appointment| appointment_array << appointment.appointment_time }%>
<% appointment_array.each do |time| %>
	<li><%= time %></li>
		<%end%>
</ul>

<p><a href="/patients/<%= @patient.id %>/edit">Edit patient's name</a></p>


<p><a href="/patients/<%= @patient.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/patients">Return to patient listing</a></p>