<h2>Appointment date/time: <%=@appointment.appointment_time %><h3> 
<h3>doctor id: <%= @appointment.doctor_id %></h3>
<h3>patient id: <%= @appointment.patient_id %></h3>


<p><a href="/appointments/<%= @appointment.id %>/edit">Edit appointment</a></p>


<p><a href="/appointments/<%= @appointment.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/appointments">Return to appointment listing</a></p>