<!DOCTYPE html>
<html ng-app="doctorsOffice">
<head>
  <title>Project</title>
  <%= stylesheet_link_tag  'application' %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js", 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar-inverse fixed navbar-custom" role="navigation">
  <div class="container">
    <div class="navbar-inner">
          <nav id="main-nav">
            <ul class="nav navbar-nav title" >
              <li><a href="/">Doctors</a></li>
              <li><a href="/#/patients">Patients</a></li>
              <li><a href="/#/appointments">Appointments</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </nav>
	<div class="container">
		<%= flash[:new] %>
		<%= flash[:update] %>
		<%= yield %>

	</div>
</body>
</html>
